/* General styling */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fdd6dc;
    margin: 0;
    padding: 0;
}

.page-header {
    background-color: #e35a85;
    padding: 10px 0;
}

.page-header .topnav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    font-weight: bold;
}

.page-header .topnav a:hover {
    background-color: #fdd6dc;
    color: white;
}

/* Main container styling */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-container {
    text-align: left;
    margin-bottom: 20px;
    padding: 100px;
    justify-content: left;
}

.header-container h1 {
    text-align: left;
    font-size: 60px;
    color: #e35a85;
}

/* Form styling */
.form {
    background-color: white;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.line {
    border-bottom: 2px solid #ddd;
    margin-bottom: 15px;
}

.underline {
    width: 50px;
    height: 3px;
    background-color: #FF69B4; /* Pink Bloom color */
    margin: 0 auto 20px auto;
}

/* Input fields */
.field {
    margin-bottom: 20px;
}

.input input {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input input:focus {
    outline: none;
    border-color: #FF69B4; /* Pink Bloom color */
    box-shadow: 0 0 5px rgba(255, 105, 180, 0.5);
}

/* Forgot password link */
.forg a {
    color: #FF69B4;
    text-decoration: none;
}

.forg a:hover {
    text-decoration: underline;
}

/* Button styling */
.field.btn a {
    text-decoration: none;
    background-color: #FF69B4;
    color: white;
    padding: 12px 2px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.field.btn a:hover {
    background-color: #e65c9f;
}

/* Sign up link */
.link.sign-login {
    text-align: center;
    margin-top: 10px;
}

.link.sign-login span {
    color: #333;
    font-size: 14px;
}

.link.sign-login a {
    color: #FF69B4;
    font-weight: bold;
    text-decoration: none;
}

.link.sign-login a:hover {
    text-decoration: underline;
}

/* Third-party login options */
.thirdLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.google {
    background-color: #db4437;
    color: white;
}

.google:hover {
    background-color: #c0362c;
}

.face-icon {
    font-size: 24px;
    margin-right: 10px;
}
