* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #FFB6C1;
}

.page-header {
    background-color: #FFB6C1;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.topnav img {
    height: 30px;
}

.topnav a {
    color: #e35a85; 
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.topnav a:last-child {
    background-color: #e35a85;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
}

.main {
    background-color: #e35a85; 
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 10% 0;
}

.main-content {
    max-width: 1000px;
}

.main h1 {
    font-size: 90px;
    margin-bottom: 18px;
    text-align: left;
}

.main p {
    font-size: 24px;
    max-width: 600px;
    text-align: left;
}



.about_container {
    padding: 50px 10%;
    text-align: left;
}

.about_container h1 {
    color: #e35a85;
    margin-bottom: 20px;
    font-size: 48px;
}

@media (max-width: 768px) {
    .topnav {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .topnav a {
        margin: 10px 0;
    }
    
    .main h1 {
        font-size: 48px;
    }
    
    .main p {
        font-size: 18px;
    }
}